/* CSS for LINZ Admin Boundary Downloader */

.no-js #loader { display: none; }
.js #loader {
    z-index: 999999;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(loading.gif) 50% 50% no-repeat #fff;
}

body {
    background: white;
    margin: 10px 10px 220px 10px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: dimgrey;
}

* {
    margin:0;
    padding:0;
}

table {
    width: 90%;
    text-align: left;
}

caption {
	font-size: 20px;
	font-weight: bold;
}

th, td {
    padding: 10px 10px;
}

th {
    color: white;
    background: lightgrey none repeat-x scroll left top;
    border-radius: 5px;
}

td {
    border-bottom: 1px solid lightgrey;
}

table.result {
    width: 90%;
    text-align: left;
}

p {
    line-height: 1.9em;
    margin-bottom: 20px;
}

a {
    color: dodgerblue;
}

a:hover {
    color: lightseagreen;
}

a:focus {
    outline: none;
}

a.b_green, a.b_yellow, a.b_red { 
    background-color: dodgerblue;
    border-radius: 5px 5px 5px 5px;
    color: white;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;
    width: 180px;
    text-align: center;
}

a.b_green:hover, a.b_nav:hover {
    color: white;
    background-color: lightseagreen;
}

a.b_yellow:hover {
    color: white;
    background-color: goldenrod;
}

a.b_red:hover {
    color: white;
    background-color: lightcoral;
}

a.b_nav {
    background-color: dodgerblue;
    border-radius: 25px;
    color: white;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 12px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

input[type=submit] {
    margin-top: 20;
    background-color: dodgerblue;
    color: white;
    width: 210px;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
    text-align: center;
    cursor: pointer;
}

input[type=submit]:hover {
    color: white;
    background-color: lightseagreen;
}

input[type=submit].crit:hover {
    color: white;
    background-color: lightcoral;
}

input[type=text]{
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

div {
	display: inline-block;
	padding: 8px 6px;
}

h1 {
    font-size: 35px;
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    color: darkgrey;
    font-size: 32px;
    letter-spacing: 0px;
    font-weight: normal;
    padding: 0 0 5px;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

h3 {
    color: dodgerblue;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
    letter-spacing: -1px;
    font-family: Helvetica, Arial, sans-serif;
}

h4 {
    font-family: Helvetica, Arial, sans-serif;
    color: lightseagreen;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform: uppercase;
}

h5 {
    padding-bottom: 10px;
    font-size: 16px;
    color: lightseagreen;
}

ul, ol {
    margin: 0 0 35px 35px;
}

li {
    padding-bottom: 5px;
}

li ol, li ul {
    font-size: 1.0em;
    margin-bottom: 0;
    padding-top: 5px;
}

.width {
    width: 960px;
    margin: 0 auto;
}

header {
    padding: 20px 2px;
    background: white;
    margin: 0 auto;
    text-align:left;
}

header h1 a, header h1 a:hover {
    color: dodgerblue;
    font-size: 55px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height:45px;
    text-decoration: none;
    text-transform: lowercase;
}
header h1 a span { 
    color: dodgerblue;
}

header h2 {
    color: darkgrey;
    font-size: 13px;
    position: relative;
    top: -5px;
    letter-spacing: 0;
}

nav {
    background-color: white;
    height: 100px;
}

nav ul {
    list-style: none;
    padding: 5;
    margin: 5;
}

nav ul li {
    float:none;
    display: block;
    padding: 5;
}

nav ul li a {
    color: darkgrey;
    display: block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    letter-spacing: 0;
    margin: 0px 10px 0px 0px;
    padding: 15px 17px;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li.selected a,
nav ul li.selected a:hover { 
    background-color: dodgerblue;
    color: white; 
    font-weight:bold;
}


nav ul li a:hover {
    color: dimgrey;
    text-decoration: none;
}

legend {
    margin: 10px 5px;
    font-size:larger;
    text-decoration:underline;
    color:black;
}

article {
    display: inline-block;
    width: 98%;
    background-color: ghostwhite;
    border: 10px solid ghostwhite;
    border-radius: 10px;
    padding: 0px;
    margin: 5px;
 }

article.desc {
    display: inline-block;
    width: 96%;
    background-color: ghostwhite;
    border-color: ghostwhite;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
 }
 
section.box {
    display: inline-block;
    position: relative;
    padding: 5px;
    float: left;
    width: calc(50% - 10px);
    background-color: ghostwhite;
}

section.form {
    display: inline-block;
    position: relative;
    float: unset;
    width: 100%;
    background-color: ghostwhite;
}

section.form label {
    font-style: italic;
    float: left;
    width: 99%;
    margin: 5px 0px 0px 10px;
    background-color: ghostwhite;
}

label.sec {
    font-size:large;
    text-transform: uppercase;
    margin-left: 5px;
}

section.form input {
    width: 99%;
    float: left;
    margin: 5px 10px 10px 10px;
    padding: 0px;
}

section.form textarea {
    outline:none;
    margin: 5px 10px 10px 10px;
    min-width: 99%;
    min-height: 70px;
    font-size: large;
}

section.detail {
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    background-color: ghostwhite;
}

section.detail p a {
    margin: 0px 20px 5px 10px;
    padding: 5px 15px;
}

section.l_foot {
    display: inline-block;
    position: relative;
    padding: 0px;
    float: left;
    width: calc(50% - 10px);
    text-align: left;
}

section.r_foot {
    display: inline-block;
    position: relative;
    padding: 10px;
    float: left;
    width: calc(50% - 10px);
    text-align: right;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    margin:100px auto 0;
    padding: 25px 0px auto 0px;
    background: lightgrey;
    border-top: 1px dashed dodgerblue;
}

footer ul {
    padding-top: 10px;
}

.multiselect, .multiselect2 {
	width: 250px;
	background-color: lightblue;
}

